# Node modules
node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# Build output
dist
coverage
*.tsbuildinfo

# Docker files
Dockerfile
Dockerfile.*

# Miscellaneous
.DS_Store
*.swp
.git
.gitignore
.idea
.vscode
.eslintcache
