{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "printWidth": 160,
  "tabWidth": 2,
  "endOfLine": "lf",
  "importOrder": [
    "react(?=[a-zA-Z\\-\\/]+$)*",
    "^[a-zA-Z\\-\\/]+$",
    "^@resources$",
    "^@\\/([a-zA-Z\\/-]*)$",
    "^(\\.{1,2}\\/)+[a-zA-Z\\/]+$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
