{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "printWidth": 120,
  "tabWidth": 2,
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^#packages/(.*)$",
    "^#domain/(.*)$",
    "^#usecases/(.*)$",
    "^#frameworks/(.*)$",
    "^#api/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderSideEffects": false,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
